.vscode
.git
.gitignore
static/**/*
google_private_key.txt
credentials.json
token.pickle
api_token
score_api_token
kube
build.sh
.python-version

# Environments
.env.*
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# non-release scripts
recall.py
task_data.py
report.py
