STORAGE_ROOT=

WES_RUNS_BASE=
WES_GQL=
SONG_URL=
SCORE_URL=

INTERMEDIATE_SONG_URL=
ICGC_SCORE_URL=

SONG_API_TOKEN=
ICGC_SCORE_API_TOKEN=

GOOGLE_REDIRECT_URI=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY_FILE=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_X509_CERT_URL=

KAKFA_BOOTSTRAP_SERVERS=
KAFKA_TOPIC=

ALIGN_SHEET_ID=
ALIGN_SHEET_RANGE=
ALIGN_WF_URL=
ALIGN_WF_VERSION=
ALIGN_MAX_RUNS=
ALIGN_MAX_RUNS_PER_DIR=
ALIGN_CPUS=
ALIGN_MEM=

SANGER_WGS_SHEET_ID=
SANGER_WGS_SHEET_RANGE=
SANGER_WGS_WF_URL=
SANGER_WGS_WF_VERSION=
SANGER_WGS_MAX_RUNS=
SANGER_WGS_MAX_RUNS_PER_DIR=
SANGER_WGS_CPUS=
SANGER_WGS_MEM=

SANGER_WXS_SHEET_ID=
SANGER_WXS_SHEET_RANGE=
SANGER_WXS_WF_URL=
SANGER_WXS_WF_VERSION=
SANGER_WXS_MAX_RUNS=
SANGER_WXS_MAX_RUNS_PER_DIR=
SANGER_WXS_CPUS=
SANGER_WXS_MEM=

COVID_SHEET_ID=
COVID_SHEET_RANGE=
COVID_WF_URL=
COVID_WF_VERSION=
COVID_MAX_RUNS=
COVID_MAX_RUNS_PER_DIR=
COVID_CPUS=
COVID_MEM=

CB_LIMIT=
CB_RANGE_DAYS=

TAINTED_DIR_LIST=
